In [1]:
!pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\users\shaikh\anaconda3\lib\site-packages (3.8.6)
Requirement already satisfied: requests in c:\users\shaikh\anaconda3\lib\site-packages (from webdriver-manager) (2.31.0)
Requirement already satisfied: python-dotenv in c:\users\shaikh\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: tqdm in c:\users\shaikh\anaconda3\lib\site-packages (from webdriver-manager) (4.65.0)
Requirement already satisfied: packaging in c:\users\shaikh\anaconda3\lib\site-packages (from webdriver-manager) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\shaikh\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shaikh\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\shaikh\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shaikh\anaconda3\lib\site-packages (from requests->webdriver-manager) (2023.7.22)
Requirement already satisfied: colorama in c:\users\shaikh\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.6)

In [2]:
import selenium             # library used to work with selenium
import pandas as pd           
import numpy as np
import warnings              #To ignore any sort of warnings 
warnings.filterwarnings('ignore')
from selenium import webdriver     #importing webdriver module from selenium to open automated chrome window
from selenium.webdriver.common.by import By  #importing inbulit class By
import time                        #use to stop search engine for few seconds
from selenium.webdriver.common.action_chains import ActionChains

#for handling the exceptions while scrapping
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException,TimeoutException
from selenium.webdriver.support import expected_conditions as EC

In [8]:
#Opening the nike website in automated driver page 
driver=webdriver.Chrome()
driver.get('https://www.nike.com')

In [9]:
#clicking on the mens category

Men=driver.find_element(By.XPATH,"/html/body/div[3]/div/div[3]/header/div[1]/div[2]/nav/div[2]/div/ul/li[2]/a")
Men.click()

Shoes=driver.find_element(By.CLASS_NAME,"JSftBPEZ")
Shoes.click()

In [10]:
for _ in range(30):
    driver.execute_script("window.scroll(0,500)")
    
#Scraping the Shoe Name, Category ,NO of colors and Price of Men Catagory
Shoe_Name=[]
Category=[]
No_color=[]
price=[]


time.sleep(5)

shoe=driver.find_elements(By.XPATH,'//a[@class="product-card__link-overlay"]')
for i in shoe:
    Shoe_Name.append(i.text)
    
category=driver.find_elements(By.XPATH,'//div[@class="product-card__subtitle"]')
for i in category:
    Category.append(i.text)

    
color2=driver.find_elements(By.XPATH,'//*[@class="product-card__count-item"]/button/div')
for i in color2:
    No_color.append(i.text.split()[0])   
    
price_1=driver.find_elements(By.XPATH,'//*[@class="product-card__animation_wrapper"]/div/div/div/div')
for i in price_1: 
    a=i.text.replace("MRP :","").replace("â‚¹", "")
    price.append(a)

In [11]:
print(len(Shoe_Name),len(Category),len(No_color),len(price))

24 24 24 24

In [12]:
men_Table1=pd.DataFrame({"ShoeName":Shoe_Name,"Category":Category,"No of Colors":No_color,"Price":price})
men_Table1

,ShoeName,Category,No of Colors,Price
0,Nike Court Vision Low,Shoes,1,4 995.00
1,Nike Air Force 1 '07,Men's Shoes,2,7 495.00
2,Jordan Stadium 90,Men's Shoes,1,12 795.00
3,Nike SB Force 58 Premium,Skate Shoe,3,7 095.00
4,Air Jordan Legacy 312 Low,Men's Shoes,3,12 995.00
5,NikeCourt Legacy Suede,Men's Shoes,1,5 995.00
6,Nike Air Force 1 '07 LV8,Men's Shoes,1,10 795.00
7,Nike Air Force 1 '07 LV8,Men's Shoes,2,10 795.00
8,Nike Air Force 1 '07,Men's Shoes,2,11 895.00
9,Nike Air Max 270,Men's Shoes,4,13 995.00
10,Nike Killshot 2 Leather,Men's Shoe,5,7 995.00
11,Nike Waffle Debut,Men's Shoes,1,7 095.00
12,Nike Air Max 90 GORE-TEX,Men's Shoes,4,14 995.00
13,Nike Air Huarache Runner,Men's Shoes,6,12 795.00
14,Nike Dunk Low,Men's Shoes,1,11 895.00
15,Nike SB Force 58,Skate Shoes,4,6 295.00
16,Nike SB Zoom Blazer Low Pro GT,Skate Shoes,4,6 795.00
17,Nike Initiator,Men's Running Shoe,2,7 495.00
18,Nike Revolution 7 EasyOn,Men's Road Running Shoes,1,3 695.00
19,Nike Dunk Low Retro Premium,Men's Shoes,1,9 695.00
20,Nike Court Vision Low Next Nature,Men's Shoes,4,4 995.00
21,Nike Court Vision Low,Men's Shoes,1,5 695.00
22,Nike Dunk Low,Men's Shoes,1,8 695.00
23,NikeCourt Royale 2 Next Nature,Men's Shoes,3,3 995.00

In [13]:
driver.quit()

In [23]:
#Opening the nike website in automated driver page 
driver=webdriver.Chrome()
driver.get('https://www.nike.com')

In [24]:
#clicking on the womens category

Women=driver.find_element(By.XPATH,"/html/body/div[3]/div/div[3]/header/div[1]/div[2]/nav/div[2]/div/ul/li[3]/a")
Women.click()

Shoes=driver.find_element(By.CLASS_NAME,"JSftBPEZ")
Shoes.click()

In [16]:
for _ in range(30):
    driver.execute_script("window.scroll(0,500)")
    
#Scraping the Shoe Name, Category ,NO of colors and Price of Men Catagory
wo_Shoe_Name=[]
wo_Category=[]
wo_No_color=[]
wo_price=[]


time.sleep(5)

wo_shoe=driver.find_elements(By.XPATH,'//a[@class="product-card__link-overlay"]')
for i in wo_shoe:
    wo_Shoe_Name.append(i.text)
    
wo_category=driver.find_elements(By.XPATH,'//div[@class="product-card__subtitle"]')
for i in wo_category:
    wo_Category.append(i.text)

    
wo_color2=driver.find_elements(By.XPATH,'//*[@class="product-card__count-item"]/button/div')
for i in wo_color2:
    wo_No_color.append(i.text.split()[0])   
    


wo_price_2=driver.find_elements(By.XPATH,'//*[@class="product-card__price-wrapper"]/div/div/div[1]')
for i in wo_price_2:
    a=i.text.replace("MRP :","").replace("â‚¹", "")
    wo_price.append(a)

In [17]:
print(len(wo_Shoe_Name),len(wo_Category),len(wo_No_color),len(wo_price))

24 24 24 24

In [18]:
women_Table1=pd.DataFrame({"ShoeName":wo_Shoe_Name,"Category":wo_Category,"No of Colors":wo_No_color,"Price":wo_price})
women_Table1

                             ShoeName       Category No of Colors        Price
0                 Air Jordan 1 Low SE  Women's Shoes            2    10 295.00
1         Nike Air Force 1 '07 EasyOn  Women's Shoes            1     9 695.00
2                Nike Air Force 1 '07   Women's Shoe            5     8 195.00
3             Nike Air Force 1 '07 LX  Women's Shoes            3    11 895.00
4             Nike Air Force 1 Shadow  Women's Shoes            1     9 295.00
5                         Nike Cortez  Women's Shoes            4     7 495.00
6                  Nike Air Max Excee  Women's Shoes            6     7 995.00
7             Nike Air Force 1 '07 NN  Women's Shoes            2     9 695.00
8                     Nike Air Max 90  Women's Shoes            4    10 995.00
9            Nike Blazer Low Platform  Women's Shoes            5     8 195.00
10                    Nike Killshot 2  Women's Shoes            2     8 595.00
11                  Nike Air Max Plus  Women's Shoes            1    15 995.00
12                     Nike Tech Hera  Women's shoes            6     9 695.00
13  Nike Court Vision Low Next Nature  Women's Shoes            5     4 995.00
14                Nike Phoenix Waffle  Women's Shoes            3     8 695.00
15              Nike Air Force 1 Wild  Women's Shoes            6    12 795.00
16             Nike Court Legacy Lift  Women's Shoes            5     7 495.00
17                  Nike Waffle Debut  Women's Shoes            5     5 695.00
18                 Nike Air Max Pulse  Women's Shoes            5    13 995.00
19                    Nike Air Max SC  Women's Shoes            4     5 995.00
20                Nike Phoenix Waffle  Women's Shoes            4     8 695.00
21                   Nike SB Force 58    Skate Shoes            4     6 295.00
22       NikeCourt Legacy Next Nature  Women's Shoes            3     5 695.00
23     Nike SB Zoom Blazer Low Pro GT    Skate Shoes            4     6 795.00

In [19]:
shoe_url=[]

url1=driver.find_elements(By.XPATH,'//a[@class="product-card__link-overlay"]')
for i in url1:
    shoe_url.append(i.get_attribute("href"))

In [20]:
len(shoe_url)

24

In [21]:

                          
count_of_sizes=[]
color1=[]
color2=[]
color3=[]
color4=[]
color5=[]
Product_code=[]

for url in shoe_url: #loop for every shoe in list
    driver.get(url)
    time.sleep(10)

try:    
    count_size=driver.find_element(By.XPATH,'//*[@class="mt2-sm css-12whm6j"]/div/label')
    count_of_sizes.append(count_size.text)
except (NoSuchElementException,TimeoutException):
    count_of_sizes.append("-")


try:
    productcode=driver.find_element(By.XPATH,'//*[@class="description-preview body-2 css-1pbvugb"]/ul/li[2]')
    Product_code.append(productcode.text.split()[1])
except (NoSuchElementException,TimeoutException):
    Product_code.append("-")

In [26]:
try:
    col1=driver.find_element(By.XPATH,'//*[@class="description-preview body-2 css-1pbvugb"]/ul/li[1]')

    c1=col1.text.replace("Colour Shown:","").replace("/"," ")
    color1.append(c1.split()[0])
    color2.append(c1.split()[1])
    color3.append(c1.split()[2])
    color4.append(c1.split()[3])
    color5.append(c1.split()[4])
except NoSuchElementException:
    color1.append("-")
    color2.append("-")
    color3.append("-")
    color4.append("-")
    color5.append("-")

In [27]:
print(len(count_of_sizes),len(color1),len(color2),len(color3),len(color4),len(color5),len(Product_code))

1 2 2 2 2 2 1

In [28]:
#scrapping the reviews ,size,comfort, quality and star rating

Reviews=[]
Size=[]
Comfort=[]
quality=[]
Star_rating=[]


star_tags=driver.find_element(By.XPATH,'/html/body/div[5]/div/div/div[2]/div/div[4]/div[2]/div[2]/div/div/div[4]/div/details[3]/summary/div')
star_tags.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[5]/div/div/div[2]/div/div[4]/div[2]/div[2]/div/div/div[4]/div/details[3]/summary/div"}
  (Session info: chrome=120.0.6099.109); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF7E1CE2142+3514994]
	(No symbol) [0x00007FF7E1900CE2]
	(No symbol) [0x00007FF7E17A76AA]
	(No symbol) [0x00007FF7E17F1860]
	(No symbol) [0x00007FF7E17F197C]
	(No symbol) [0x00007FF7E1834EE7]
	(No symbol) [0x00007FF7E181602F]
	(No symbol) [0x00007FF7E18328F6]
	(No symbol) [0x00007FF7E1815D93]
	(No symbol) [0x00007FF7E17E4BDC]
	(No symbol) [0x00007FF7E17E5C64]
	GetHandleVerifier [0x00007FF7E1D0E16B+3695259]
	GetHandleVerifier [0x00007FF7E1D66737+4057191]
	GetHandleVerifier [0x00007FF7E1D5E4E3+4023827]
	GetHandleVerifier [0x00007FF7E1A304F9+689705]
	(No symbol) [0x00007FF7E190C048]
	(No symbol) [0x00007FF7E1908044]
	(No symbol) [0x00007FF7E19081C9]
	(No symbol) [0x00007FF7E18F88C4]
	BaseThreadInitThunk [0x00007FFED44D7344+20]
	RtlUserThreadStart [0x00007FFED55226B1+33]

# Addidas

In [37]:
#Opening the addidas website in automated driver page 
driver=webdriver.Chrome()
driver.get('https://www.adidas.com')

In [38]:
#By clicking on the men category and then clicking on the all footwears

men_tags=driver.find_element(By.XPATH,'//*[@id="__next"]/div[2]/div[2]/div/header/div[2]/div/ul/li[1]/a')

#ActionChains instance
hover=ActionChains(driver)
# Move the cursor to the hover element
hover.move_to_element(men_tags).perform()

#clicking on the mens footwear

shoes_tags=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[2]/div/header/div[2]/div/ul/li[1]/div/ul[1]/li[2]/div/a/div')
shoes_tags.click()

In [54]:
# for scrapping the Shoe name ,Category, no of colors, price

Shoe_Name_A=[]
Category_A=[]
No_color_A=[]
price_A=[]

Shoe_a=driver.find_elements(By.XPATH,'//*[@class="glass-product-card__title"]')
for i in Shoe_a:
     Shoe_Name_A.append(i.text)
        
cat_a=driver.find_elements(By.XPATH,'//*[@class="glass-product-card__category"]')
for i in cat_a:
    Category_A.append(i.text)

    
try:
    no_color_a=driver.find_elements(By.XPATH,'//*[@class="dark-grey___6ysQv"]')
    for i in no_color_a:
        No_color_A.append(i.text.split()[0])
except NoSuchElementException:
    No_color_A.append("-")

price_1=driver.find_elements(By.XPATH,'//*[@class="gl-price gl-price--horizontal notranslate gl-price--inline___3nMlh"]')
for i in price_1:
    m=i.text.replace("â‚¹", "")
    price_A.append(m.split("\n")[0])

In [55]:
print(len(Shoe_Name_A),len(Category_A),len(No_color_A),len(price_A))

48 48 39 46

In [56]:
while len(No_color_A)<len(Shoe_Name_A):
    
    
    No_color_A.append("-")
    
while len(price_A)<len(Shoe_Name_A):
    
    
    price_A.append("-")

In [57]:
print(len(Shoe_Name_A),len(Category_A),len(No_color_A),len(price_A))

48 48 48 48

In [58]:
men_Table1_A=pd.DataFrame({"ShoeName":Shoe_Name_A,"Category":Category_A,"No of Colors":No_color_A,"Price":price_A})
men_Table1_A

,ShoeName,Category,No of Colors,Price
0,Superstar Shoes,originals,3,8 999.00
1,Samba OG Shoes,originals,4,10 999.00
2,Samba OG Shoes,originals,4,11 999.00
3,Superstar Shoes,Men originals,3,8 999.00
4,Gazelle Shoes,originals,6,10 999.00
5,Galaxy 6 Shoes,Men Running,10,5 999.00
6,Ultraboost Light,Men Running,3,19 999.00
7,Ultimashow Shoes,Men sportswear,6,5 599.00
8,WIND RAISER SHOES,Men Running,2,11 999.00
9,Alphaboost V1 Shoes,Men sportswear,6,4 299.00
10,FLUIDFLOW 2.0 RUNNING SHOE,Men Running,2,17 999.00
11,Ultraboost 1.0 Shoes,Men sportswear,5,3 299.00
12,RESTOUND SHOES,Men Running,3,2 999.00
13,ADI ZOOM SHOES,Men Running,3,7 999.00
14,HYPERON 1.0 SHOES,Men Running,5,11 999.00
15,Grand Court Cloudfoam Comfort Shoes,Men sportswear,3,17 999.00
16,Pureboost 22 Shoes,Running,5,3 999.00
17,Ultraboost 1.0 Shoes,Men sportswear,3,6 999.00
18,HALICON SHOES,Men Walking,2,3 299.00
19,Lite Racer Adapt 4.0 Cloudfoam Slip-On Shoes,Men Running,4,4 599.00
20,FLODEAN SHOES,Men Walking,10,3 999.00
21,ACME SHOES,Men Running,5,9 999.00
22,Adilette Comfort Slides,sportswear,2,13 999.00
23,Ozelle Cloudfoam Shoes,Men Running,6,12 999.00
24,SOLARGLIDE 6 Shoes,Men Running,6,3 299.00
25,NMD_R1 Shoes,Men originals,6,5 599.00
26,RUNNING UNIFLOW SHOES,Men Running,3,6 599.00
27,Ultimashow Shoes,Men sportswear,9,7 999.00
28,Duramo 10 Shoes,Men Running,3,7 999.00
29,Asweetrain Shoes,Men Training,2,21 999.00
30,Tracefinder Trail Running Shoes,Men Outdoor,2,5 599.00
31,Ultra 4DFWD Shoes,Running,2,3 299.00
32,Ultimashow Shoes,Men sportswear,5,9 999.00
33,SPORT INSPIRED THROB SHOES,Men Running,3,4 999.00
34,Forum Low Shoes,originals,2,6 599.00
35,VS Pace 2.0 Shoes,Men Skateboarding,2,10 999.00
36,Advantage Base Court Lifestyle Shoes,Men sportswear,5,14 999.00
37,Gazelle Shoes,originals,5,12 999.00
38,Web BOOST Shoes,Running,5,14 999.00
39,NMD_R1 Shoes,Men originals,-,8 999.00
40,NMD_R1 Shoes,originals,-,9 999.00
41,Stan Smith Shoes,originals,-,69 999.00
42,UBounce DNA Shoes,Men Running,-,69 999.00
43,Y-3 Gendo Pro Model,Lifestyle,-,11 999.00
44,Y-3 Gendo Pro Model,Lifestyle,-,17 999.00
45,Superstar XLG Shoes,originals,-,7 999.00
46,Ultraboost 1.0 Shoes,Men sportswear,-,-
47,Kaptir 3.0 Shoes,Men Running,-,-

In [59]:
driver.quit()

In [60]:
#Opening the addidas website in automated driver page 
driver=webdriver.Chrome()
driver.get('https://www.adidas.com')

In [61]:
#By clicking on the women category and then clicking on the all footwears

women_tags=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[2]/div/header/div[2]/div/ul/li[2]')

#ActionChains instance
hover=ActionChains(driver)
# Move the cursor to the hover element
hover.move_to_element(women_tags).perform()

#clicking on the mens footwear

shoes_tags=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[2]/div/header/div[2]/div/ul/li[2]/div/ul[1]/li[2]/div/a/div')
shoes_tags.click()

In [64]:
for _ in range(100):
    driver.execute_script("window.scroll(0,500)")

time.sleep(10)    
# for scrapping the Shoe name ,Category, no of colors, price

wo_Shoe_Name_A=[]
wo_Category_A=[]
wo_No_color_A=[]
wo_price_A=[]

Shoe_a=driver.find_elements(By.XPATH,'//*[@class="glass-product-card__title"]')
for i in Shoe_a:
     wo_Shoe_Name_A.append(i.text)
        
cat_a=driver.find_elements(By.XPATH,'//*[@class="glass-product-card__category"]')
for i in cat_a:
    wo_Category_A.append(i.text)

    
try:
    no_color_a=driver.find_elements(By.XPATH,'//*[@class="dark-grey___6ysQv"]')
    for i in no_color_a:
        wo_No_color_A.append(i.text.split()[0])
except NoSuchElementException:
    wo_No_color_A.append("-")
    
price_1=driver.find_elements(By.XPATH,'//*[@class="gl-price gl-price--horizontal notranslate gl-price--inline___3nMlh"]')
for i in price_1:
    m=i.text.replace("â‚¹", "")
    wo_price_A.append(m.split("\n")[0])

In [65]:
print(len(wo_Shoe_Name_A),len(wo_Category_A),len(wo_No_color_A),len(wo_price_A))

48 48 37 48

In [66]:
while len(wo_No_color_A)<len(wo_Shoe_Name_A):
    
    
    wo_No_color_A.append("-")

In [67]:
print(len(wo_Shoe_Name_A),len(wo_Category_A),len(wo_No_color_A),len(wo_price_A))

48 48 48 48

In [68]:
women_Table1_A=pd.DataFrame({"ShoeName":wo_Shoe_Name_A,"Category":wo_Category_A,"No of Colors":wo_No_color_A,"Price":wo_price_A})
women_Table1_A

,ShoeName,Category,No of Colors,Price
0,Superstar Shoes,originals,3,8 999.00
1,Superstar Shoes,Women Lifestyle,4,8 999.00
2,Samba OG Shoes,originals,4,10 999.00
3,Samba OG Shoes,originals,6,11 999.00
4,Gazelle Shoes,originals,2,10 999.00
5,Avryn Shoes,sportswear,3,13 999.00
6,Adizero Boston 11 Shoes,Women Running,3,13 999.00
7,Adilette Clogs,sportswear,6,4 599.00
8,BREEZEWALK SHOES,Women Walking,2,2 999.00
9,Avryn Shoes,Running,4,13 999.00
10,VULC RAID3R Lifestyle Skateboarding Slip-On Ca...,sportswear,5,5 599.00
11,Adilette Boost Slides,Swim,4,5 999.00
12,Superstar XLG Shoes,originals,4,11 999.00
13,Adilette Aqua Slides,sportswear,2,1 999.00
14,NMD_R1 V3 Shoes,Women originals,4,15 999.00
15,Rivalry Low Shoes,originals,3,8 999.00
16,X Speedportal.3 Turf Boots,Football,3,7 999.00
17,Puremotion Adapt 2.0 Shoes,Women Running,3,6 999.00
18,Adissage Slides,sportswear,5,2 999.00
19,SOLARGLIDE 6 Shoes,Women Running,3,13 999.00
20,Valentine's Day Ultraboost 1.0 Shoes,Women sportswear,3,17 999.00
21,Adilette Comfort Slides,sportswear,3,3 999.00
22,Eastrail 2.0 Hiking Shoes,Women Hiking,3,9 999.00
23,AZUREWALK SHOES,Women Walking,2,4 599.00
24,ADILETTE SHOWER,Women Swim,2,2 999.00
25,Adilette Comfort Sandals,sportswear,2,4 599.00
26,Hoops 3.0 Mid Classic Vintage Shoes,Basketball,2,6 999.00
27,Court Platform Shoes,Women Skateboarding,3,6 599.00
28,Copa Pure II.1 Firm Ground Boots,Football,4,21 999.00
29,PUDING ADI SANDALS,Women Outdoor,3,3 299.00
30,Adilette Comfort Slides,Women sportswear,4,4 999.00
31,Forum Low Shoes,originals,3,9 999.00
32,Nebzed Cloudfoam Lifestyle Running Shoes,Women sportswear,10,6 999.00
33,Ultraboost 1.0 Shoes,Women Running,2,17 999.00
34,X_PLRBOOST Shoes,Women sportswear,2,17 999.00
35,Grand Court Base Lifestyle Court Casual Shoes,Women Tennis,7,6 599.00
36,Pureboost 22 Shoes,Running,4,11 999.00
37,Adilette Comfort Slides,sportswear,-,3 999.00
38,SHEENWALK SHOES,Women Walking,-,3 599.00
39,Ultimashow Shoes,Women Running,-,5 599.00
40,SHEENWALK SHOES,Women Running,-,3 599.00
41,Galaxy 6 Shoes,Women Running,-,5 999.00
42,Ultra 4DFWD Shoes,Running,-,21 999.00
43,Forum Low Shoes,originals,-,9 999.00
44,Crazy IIInfinity 003 Shoes,originals,-,15 999.00
45,VULC RAID3R Lifestyle Skateboarding Slip-On Ca...,Skateboarding,-,5 599.00
46,Lite Racer 3.0 Shoes,Women sportswear,-,4 999.00
47,Alphabounce+ Sustainable Bounce Shoes,Women sportswear,-,8 999.00

In [69]:
driver.quit()

# Puma

In [70]:
#Opening the PUMA website in automated driver page 
driver=webdriver.Chrome()
driver.get('https://us.puma.com/us/en')

In [71]:
#By clicking on the WOMEN category and then clicking on the all footwears

women_tags=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/nav/div/ul/li[2]/div/div[1]/a/span')
women_tags.click()

In [75]:

#clicking on the women filter
time.sleep(10)

button_fil=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/main/div/section/nav[1]/div/div/div/div[1]/div[1]/button/div[2]')
button_fil.click()

cat_button=driver.find_element(By.XPATH,'//*[@class="w-full flex justify-between relative text-left text-puma-black focus:outline-none h-[60px] items-center text-lg font-semibold pt-2 pb-4 capitalize"]/span')
cat_button.click()

tick_button=driver.find_element(By.XPATH,'//*[@class="opacity-0 absolute left-0 top-0 w-full h-full cursor-pointer tw-1anybqp"]')
tick_button.click()

In [76]:
for _ in range(100):
    driver.execute_script("window.scroll(0,500)")

time.sleep(10)    
# for scrapping the Shoe name ,Category, no of colors, price

wo_Shoe_Name_P=[]
wo_Category_P=[]
wo_No_color_P=[]
wo_price_P=[]

shoe_tags=driver.find_elements(By.XPATH,'//*[@class="w-full mobile:text-sm mobile:pr-0 font-bold text-base pr-5 line-clamp-2"]')
for i in shoe_tags:
    wo_Shoe_Name_P.append(i.text.split("\n")[0])
    
Cat_tags=driver.find_elements(By.XPATH,'//*[@class="w-full mobile:text-sm mobile:pr-0 font-bold text-base pr-5 line-clamp-2"]')
for i in Cat_tags:
    a=i.text.replace(i.text,"Women")
    wo_Category_P.append(a)
    
no_color=driver.find_elements(By.XPATH,'//*[@class="relative h-12 mobile:h-10 flex items-center group"]/span')
for i in no_color:
    wo_No_color_P.append(i.text.split()[0])
    
price_1=driver.find_elements(By.XPATH,'//*[@class="flex flex-col flex-none mobile:items-start items-end text-sm md:text-base mobile:mt-2"]')
for i in price_1:
    m=i.text.replace("â‚¹", "")
    wo_price_P.append(m.split("\n")[0])

In [77]:
print(len(wo_Shoe_Name_P),len(wo_Category_P),len(wo_No_color_P),len(wo_price_P))

144 144 144 144

In [78]:
women_Table1_P=pd.DataFrame({"ShoeName":wo_Shoe_Name_P,"Category":wo_Category_P,"No of Colors":wo_No_color_P,"Price":wo_price_P})
women_Table1_P

                                         ShoeName Category No of Colors  Price
0                     Slipstream Women's Sneakers    Women            1  4,799
1              Mayze Crashed PRM Women's Sneakers    Women            2  5,399
2              Mayze Crashed PRM Women's Sneakers    Women            2  5,399
3             Blktop Rider Femme Women's Sneakers    Women            2  4,499
4             Blktop Rider Femme Women's Sneakers    Women            2  4,499
..                                            ...      ...          ...    ...
139                    Mayze Mix Women's Sneakers    Women            4  4,499
140            Cali Dream Pastel Women's Sneakers    Women            2  4,399
141                    RS-X Soft Women's Sneakers    Women            3  4,999
142  Carina 2.0 Pop Up Metallics Women's Sneakers    Women            2  2,999
143              RS-X Efekt WOTB Women's Sneakers    Women            1  5,499

[144 rows x 4 columns]

In [79]:
driver.quit()

In [80]:
#Opening the PUMA website in automated driver page 
driver=webdriver.Chrome()
driver.get('https://us.puma.com/us/en')

In [82]:
#By clicking on the MEN category and then clicking on the all footwears

men_tags=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/nav/div/ul/li[3]/div/div[1]/a/span')
men_tags.click()

In [83]:
#clicking on the men filter
time.sleep(10)

button_fil=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/main/div/section/nav[1]/div/div/div/div[1]/div[1]/button/div[2]')
button_fil.click()

cat_button=driver.find_element(By.XPATH,'//*[@class="w-full flex justify-between relative text-left text-puma-black focus:outline-none h-[60px] items-center text-lg font-semibold pt-2 pb-4 capitalize"]/span')
cat_button.click()

tick_button=driver.find_element(By.XPATH,'//*[@class="opacity-0 absolute left-0 top-0 w-full h-full cursor-pointer tw-1anybqp"]')
tick_button.click()

In [87]:
for _ in range(100):
    driver.execute_script("window.scroll(0,500)")

time.sleep(10)    
# for scrapping the Shoe name ,Category, no of colors, price

Shoe_Name_P=[]
Category_P=[]
No_color_P=[]
price_P=[]

shoe_tags=driver.find_elements(By.XPATH,'//*[@class="w-full mobile:text-sm mobile:pr-0 font-bold text-base pr-5 line-clamp-2"]')
for i in shoe_tags:
    Shoe_Name_P.append(i.text.split("\n")[0])
    
Cat_tags=driver.find_elements(By.XPATH,'//*[@class="w-full mobile:text-sm mobile:pr-0 font-bold text-base pr-5 line-clamp-2"]')
for i in Cat_tags:
    a=i.text.replace(i.text,"Men")
    Category_P.append(a)
    
no_color=driver.find_elements(By.XPATH,'//*[@class="relative h-12 mobile:h-10 flex items-center group"]/span')
for i in no_color:
    o=i.text.replace("COLORS","").replace("COLOR","")
    No_color_P.append(o)
    
price_1=driver.find_elements(By.XPATH,'//*[@class="flex flex-col flex-none mobile:items-start items-end text-sm md:text-base mobile:mt-2"]')
for i in price_1:
    n=i.text.replace("â‚¹", "")
    price_P.append(n.split("\n")[0])

In [88]:
print(len(Shoe_Name_P),len(Category_P),len(No_color_P),len(price_P))

144 144 144 144

In [89]:
men_Table1_P=pd.DataFrame({"ShoeName":Shoe_Name_P,"Category":Category_P,"No of Colors":No_color_P,"Price":price_P})
men_Table1_P

                                 ShoeName Category No of Colors  Price
0                  RS 3.0 Unisex Sneakers      Men           2   3,999
1                  RS 3.0 Unisex Sneakers      Men           2   3,999
2            Aviator Unisex Running Shoes      Men           3   3,599
3       Space Lab B and B Unisex Sneakers      Men           1   4,899
4           Caven 2.0 Mid Unisex Sneakers      Men           2   3,499
..                                    ...      ...          ...    ...
139       Palermo Special Unisex Sneakers      Men           1   6,999
140  PUMA Spike 22.2 Unisex Cricket Shoes      Men           6   6,369
141            PUMA Punch Unisex Sneakers      Men           2   2,999
142  Anzarun Lite Slip-On Unisex Sneakers      Men           4   1,999
143       Flyer Flex Unisex Running Shoes      Men           3   2,599

[144 rows x 4 columns]

In [90]:
driver.close()

# Skechers

In [17]:
#Opening the skechers website in automated driver page 
driver=webdriver.Chrome()
driver.get('https://www.skechers.com')

In [19]:
#By clicking on the women category and then clicking on the all footwears

women_tags=driver.find_element(By.XPATH,'/html/body/div[2]/header/nav[2]/div/div[1]/div/div/div[1]/div[2]/nav/div[2]/ul/li[1]/a')

#ActionChains instance
hover=ActionChains(driver)
# Move the cursor to the hover element
hover.move_to_element(women_tags).perform()

#clicking on the mens footwear

shoes_tags=driver.find_element(By.XPATH,'/html/body/div[2]/header/nav[2]/div/div[1]/div/div/div[1]/div[2]/nav/div[2]/ul/li[1]/div/div/ul/li[1]/a')
shoes_tags.click()

# Columbia

In [5]:
#Opening the columbia website in automated driver page 
driver=webdriver.Chrome()
driver.get('https://www.columbia.com/')

# Woodland

In [91]:
#Opening the Woodland website in automated driver page 
driver=webdriver.Chrome()
driver.get('https://www.woodlandworldwide.com/')

In [97]:
#By clicking on the MEN category 

men_tags=driver.find_element(By.XPATH,'/html/body/div[1]/footer/div/div[2]/div[1]/div/div[1]/a[2]')
men_tags.click()

In [96]:
#By clicking on the MEN category 

men_tags=driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div[2]/div/div[1]/div/button[1]')

#ActionChains instance
hover=ActionChains(driver)
# Move the cursor to the hover element
hover.move_to_element(men_tags).perform()

shoes_tags=driver.find_element(By.XPATH,'//*[@class="mencategory_category__Kctr3"]')
shoes_tags.click()

In [99]:
for _ in range(100):
    driver.execute_script("window.scroll(0,500)")

time.sleep(10)    
# for scrapping the Shoe name ,Category, no of colors, price

Shoe_Name_w=[]
Category_w=[]
No_color_w=[]
price_w=[]

shoe_tags=driver.find_elements(By.XPATH,'//*[@class="productcardplp_productname__F8lks"]')
for i in shoe_tags:
    Shoe_Name_w.append(i.text)
    
Cat_tags=driver.find_elements(By.XPATH,'//*[@class="productcardplp_productname__F8lks"]')
for i in Cat_tags:
    a=i.text.replace(i.text,"Men")
    Category_w.append(a)
    

    
price_1=driver.find_elements(By.XPATH,'//*[@class="productcardplp_productprice__jdlz6"]')
for i in price_1:
    n=i.text.replace("â‚¹", "")
    price_w.append(n.split("\n")[0])

In [100]:
print(len(Shoe_Name_w),len(Category_w),len(price_w))

36 36 36

In [101]:
men_Table1_w=pd.DataFrame({"ShoeName":Shoe_Name_w,"Category":Category_w,"Price":price_w})
men_Table1_w

                             ShoeName Category     Price
0          Black Slip-on Shoe for Men      Men  20951571
1           Navy Slip-on Shoe for Men      Men  29952246
2              White Sneakers for Men      Men  24951871
3            Navy Sports Shoe for Men      Men  24951871
4               Black Sneaker for Men      Men      2495
5       Black/Lgrey Slip Shoe for Men      Men  22951606
6           Grey slip-on shoe for men      Men  19951496
7       Snaype casual sneaker for men      Men  39952397
8                Teal Sneaker for men      Men  21951536
9          Dgrey Slip-on Shoe for Men      Men  27952096
10              Navy sneakers for Men      Men  27952096
11              Woodland Red sneakers      Men  36952217
12          Grey Slip-on Shoe for Men      Men  24951871
13    White/Blue Sports Shoes for Men      Men      7495
14  Lgrey/Orange Sports Shoes for Men      Men      7495
15   Black Fabric Luxury Sports Shoes      Men  74954497
16         Black Sports Shoes for Men      Men      7495
17    White/Black Sports Shoe for Men      Men      7495
18   White Fabric Luxury Sports Shoes      Men  74954497
19              Blue sneakers for men      Men  64953897
20          Black/Red Sneaker for Men      Men  27952096
21              Black Slip-on Sneaker      Men  59953597
22   Beige Fabric Luxury Sports Shoes      Men  74954497
23          RB Brown Sneakers for men      Men  69953497
24         White Sports Shoes for Men      Men      6995
25              Beige Sneaker for men      Men  84955097
26          White Sports Shoe for Men      Men  84955097
27          Navy chunky sole sneakers      Men  64953897
28                 Blue Slip on shoes      Men  59953597
29              Black Sneaker for men      Men  79954797
30               Grey Sneaker for men      Men  79954797
31     Black/Grey Sports Shoe for men      Men  79954797
32               Olive casual sneaker      Men  49952000
33  Black/Grey casual sneaker for men      Men  89955397
34             Black Sneakers for Men      Men  79954797
35  Blue/White casual sneaker for men      Men  89955397

In [107]:
Table1=pd.concat([men_Table1,women_Table1,men_Table1_A,women_Table1_A,men_Table1_P,women_Table1_P])

In [108]:
Table1

,ShoeName,Category,No of Colors,Price
0,Nike Court Vision Low,Shoes,1,4 995.00
1,Nike Air Force 1 '07,Men's Shoes,2,7 495.00
2,Jordan Stadium 90,Men's Shoes,1,12 795.00
3,Nike SB Force 58 Premium,Skate Shoe,3,7 095.00
4,Air Jordan Legacy 312 Low,Men's Shoes,3,12 995.00
...,...,...,...,...
139,Mayze Mix Women's Sneakers,Women,4,"4,499"
140,Cali Dream Pastel Women's Sneakers,Women,2,"4,399"
141,RS-X Soft Women's Sneakers,Women,3,"4,999"
142,Carina 2.0 Pop Up Metallics Women's Sneakers,Women,2,"2,999"
143,RS-X Efekt WOTB Women's Sneakers,Women,1,"5,499"

In [109]:
# converting the table1 to csv file

Table1.to_csv('Table1.csv')